<div class="card">
    <h4 class="card-header">Forgot Password</h4>
    <div class="card-body">


        <div *ngIf="emailSent" class="alert alert-success" role="alert">
            <h4 class="alert-heading">Email Sent!</h4>
            <p>We have sent you details on email.</p>
            <hr>
            <a routerLink="/" class="btn btn-link">Go back to Register</a>
          </div>


        <!-- Form starts here -->
        <form *ngIf="!emailSent" [formGroup]="forgotForm" (ngSubmit)="onSubmit()">

            <h5 class="text-left">
                Please enter your recovery email 
            </h5>
            <!-- Email -->
            <div class="form-group mt-8">
                <label for="lastName">Email</label>
                <input type="text" formControlName="email" class="form-control"
                    [ngClass]="{ 'is-invalid': controlGetter.email.touched && controlGetter.email.errors }" />

                <div *ngIf="controlGetter.email.touched && controlGetter.email.errors?.required"
                    class="invalid-feedback">Email is
                    required</div>
                <div *ngIf="controlGetter.email.touched && controlGetter.email.errors?.email" class="invalid-feedback">
                    Please enter a valid email</div>

            </div>


            <!-- Captcha starts here -->
            <div class="captcha-class">

                <ngx-recaptcha2 #captchaElem [siteKey]="siteKey" (reset)="handleReset()" (expire)="handleExpire()"
                (error)="handleError()" (load)="handleLoad()" (success)="handleSuccess($event)" useGlobalDomain="false"
                size="normal" hl="en" formControlName="recaptcha">
                </ngx-recaptcha2>

            </div>
           

            <div class="form-group text-center">
                <button [disabled]="loading || forgotForm.invalid" class="btn btn-block btn-primary">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Send recovery email
                </button>
                <a routerLink="/" class="btn btn-link">Go back to Register</a>
            </div>
        </form>
    </div>